<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}" />
    <title>Kauã Tiezzi - Seu estilo pessoal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <style>
        /* Estilos personalizados */
        .swiper {
            width: 100%;
            height: 320px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
            background-color: #f0f0f0;
        }

        html {
            color-scheme: light; /* Força o navegador a usar o tema claro */
        }

        @media (prefers-color-scheme: dark) {
            html {
                background-color: #ffffff;
                color: #000000;
            }
        }
    </style>

</head>

<script>
    tailwind.config = {
        darkMode: false,
        theme: {
            screens: {
                sm: '640px',
                md: '768px',
                lg: '1024px',
                xl: '1280px',
                '2xl': '1536px',
            },
            fontFamily: {
                'sans': ['ui-sans-serif', 'system-ui'],
                'serif': ['ui-serif', 'Georgia'],
                'mono': ['ui-monospace', 'SFMono-Regular'],
            },
            extend: {
                colors: {
                    verde: '#b2d12e',
                    gold: '#FFD700', // Dourado
                    lightGray: '#fffff', // Cinza Claro
                    white: '#FFFFFF', // Branco
                    burgundy: '#800020', // Vermelho Escuro
                    black: '#000000', // Preto
                    lightBeige: '#F5F5DC', // Bege Claro
                },
            },
        },
    }
</script>

<body class="bg-lightGray font-sans">
    <!-- Navbar -->
    <nav class="bg-lightGray p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo -->
            <a href="/" class="text-xl font-bold flex items-center">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Online Store Logo" class="h-16"> 
            </a>
            <!-- Menu de navegação -->
            <div class="flex space-x-8">
                <a href="/carrinho" class="text-black hover:text-lightBeige">
                    <img src="{{ url_for('static', filename='img/carrinho.svg') }}" alt="Carrinho" class="h-8">
                </a>
                <a href="/admin/login" class="text-black hover:text-lightBeige"><img src="{{ url_for('static', filename='img/admin.svg') }}" alt="Carrinho" class="h-8"></a>
            </div>
            
        </div>
    
        <!-- Linha com as categorias de roupa -->
        <div class="bg-lightGray text-white py-2">
            <div class="container mx-auto flex justify-center space-x-8">
                <a href="/" class="text-black hover:text-verde transition ease-in-out delay-80">Todos os produtos</a>
        {% for categoria in categorias %}
            <a href="/categorias/{{ categoria.nome | lower }}" class="text-black hover:text-verde transition ease-in-out delay-80">
                {{ categoria.nome }}
            </a>
        {% endfor %}
            </div>
        </div>
    </nav>
    



    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden md:h-96">
             <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{ url_for('static', filename='img/banner1.png') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{ url_for('static', filename='img/banner2.png') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{ url_for('static', filename='img/banner1.png') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{ url_for('static', filename='img/banner2.png') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
            <!-- Item 5 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{ url_for('static', filename='img/banner1.png') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
    



    <!-- Main Content - Produtos -->
    <div class="container mx-auto py-12">
        <h1 class="text-3xl font-bold text-center mb-8 text-black">Todos os produtos</h1>

        <!-- Grid de Produtos -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            <!-- Produto 1 -->
            {% for produto in produtos %}
    <div class="bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition duration-300 flex flex-col justify-between h-full">
        <a href="{{ url_for('detalhe_produto', id=produto.id) }}">
            <img src="{{ url_for('static', filename='img/' + produto.imagem) }}" alt="{{ produto.nome }}" class="w-full h-48 object-cover rounded-lg">
            <div>
                <h3 class="text-xl font-bold mt-4 text-center text-black line-clamp-2 h-14">{{ produto.nome }}</h3>
                <p class="text-center text-black mt-2 font-semibold">R$ {{ "%.2f"|format(produto.preco) | replace('.', ',') }}</p>
            </div>
        </a>

        <!-- Formulário para adicionar ao carrinho -->
        <form action="{{ url_for('adicionar_ao_carrinho') }}" method="POST">
            <input type="hidden" name="produto_id" value="{{ produto.id }}">
            <input type="hidden" name="produto_nome" value="{{ produto.nome }}">
            <input type="hidden" name="produto_preco" value="{{ produto.preco }}">
            <input type="hidden" name="produto_imagem" value="{{ produto.imagem }}">

            <div class="text-center mt-4">
                <button type="submit" class="bg-verde text-white py-2 px-4 rounded-full hover:bg-black transition-colors duration-300 ease-in-out transform focus:outline-none focus:ring-2 focus:ring-verde focus:ring-opacity-20">
                    Adicionar ao carrinho
                </button>
            </div>
        </form>
    </div>
{% endfor %}

        </div>
    </div>

    <!-- Paginação do carrossel -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Adicionar o JS do Swiper via CDN -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  
  <script>
    // Inicializando o Swiper
    const swiper = new Swiper('.swiper', {
      loop: true,  // Habilita o loop
      slidesPerView: 4,  // Exibe 4 slides por vez
      spaceBetween: 20,  // Espaçamento entre os slides
      navigation: {
        nextEl: '.swiper-button-next',  // Botão de próxima
        prevEl: '.swiper-button-prev',  // Botão de anterior
      },
      pagination: {
        el: '.swiper-pagination',  // Paginação com pontos
        clickable: true,  // Permite clicar nos pontos de navegação
      },
      breakpoints: {
        1024: {
          slidesPerView: 3,  // Exibe 3 slides em telas grandes
        },
        640: {
          slidesPerView: 2,  // Exibe 2 slides em telas médias
        },
      },
    });
  </script>

    <!-- Footer -->
    <footer class="bg-black text-white text-center py-4">
        <p>&copy; 2025 Kauã Tiezzi. Todos os direitos reservados.</p>
    </footer>

    
</body>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="{{ url_for('static', filename='js/carrinho.js') }}"></script>
</html>
